.page-header {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

h1, .h1 {
    margin: 0;
    font-size: 2em;
}

#corps {
    min-height: 400px;
}

.menu-titre {
    font-size: 1.2em;
    font-weight: bold;
}

.menu-info {
    font-size: 0.9em;
    font-style: italic;
}

.liste-visioconferences ol {
    padding-left: 1em;
}

/* .description-visioconference { */
/*     display: none; */
/* } */

/* .liste-visioconferences li:hover > .description-visioconference  { */
/*     display: block; */
/* } */

.edition-visioconference {
    display: none;
    padding-left: 2em;
}

.liste-visioconferences li:hover > .edition-visioconference {
    display: inline;
}

footer {
    margin-top: 2em;
    height: 10%;
    text-align: center;
}
